.bdheader{

	padding: 2px;
	height: 500px;
	background-image: url("../others/image/21.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 96%;
}

.bdfooter{
	display: inline-block; 
	text-align: center;
	float: bottom;
	padding-bottom: 20px;

	 }